body{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}

a{
    text-decoration:none;
    color:black;
}



*{  /*87 make the line protusion disappear and align border with sign in box*/
    box-sizing:border-box;
}